---
title: home
---

{% include head.html %}

<div class="jumbotron">
  <a href="#get-started">
  <h1 class="jumbotron-text">ModelSpot</h1>
  <h3 class="call-to-action">click to get started!</h3>
  </a>
</div>

<div class="first-section">
  <h3 class="first-section-text">Make Money Modeling Online!</h3>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <i class="fa fa-mobile fa-4x" aria-hidden="true"></i><br> Sell your hottest selfies and make money!
      Whether you already have paying fans or are just starting out, I can help you generate more income.
      You're already taking selfies, you might as well get paid for them!
      </div>
      <div class="col-sm">
      <i class="fa fa-camera fa-4x" aria-hidden="true"></i><br>Get the real photoshoot experience!
      This is a great option for taking more natural feeling photos and videos.
      Lots of different options to dramatically increase your earning potential.
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
      <i class="fa fa-gamepad fa-4x" aria-hidden="true"></i><br>Play online games with your fans!
      This is a great way to interact with your admirers and can really push you over the top.
      Whether you want to play video games or online board games, there are lots of options.
      </div>
      <div class="col-sm">
      <i class="fa fa-laptop fa-4x" aria-hidden="true"></i><br>Host private webcam shows!
      Your biggest fans will love the 1-on-1 attention and will pay top dollar for this experience.
      If you have a laptop with a webcam, you're good to go!
      </div>
    </div>
  </div>
</div>

<div class="contact-section">
  <h3 class="contact-section-headline"></h3>
    <h3 class="contact-section-text"><a id="get-started">Click the social media links below to contact me!</a></h3>
  <div class="row">
    <div class="col-md">
      <a href="https://www.mail.google.com" target="_blank">
      <i class="fa fa-google fa-4x" aria-hidden="true"></i><br>
      <p>modelspot2020@gmail.com</p> 
      </a>
    </div>
    <div class="col-md">
      <a href="https://twitter.com/ModelSpot2020" target="_blank">
      <i class="fa fa-twitter fa-4x" aria-hidden="true"></i><br>
      <p>@ModelSpot2020</p> 
      </a>
    </div>
    <div class="col-md">
      <a href="https://www.instagram.com/modelspot2020/" target="_blank">
      <i class="fa fa-instagram fa-4x" aria-hidden="true"></i><br>
      <p>modelspot2020</p>
      </a>
    </div>
    <div class="col-md">
      <a href="https://www.snapchat.com/add/modelspot" target="_blank">
      <i class="fa fa-snapchat-ghost fa-4x" aria-hidden="true"></i><br>
      <p>modelspot</p>
      </a>
    </div>
  </div>
</div>








{% include javascript.html %}
