---
title: home
---

{% include head.html %}

<div class="hero-section">
  <div class="hero-section-text">
    <h1>ModelSpot</h1>
    <a href="#get-started">
    <h3 class="click-to-get-started">Click to get started!</h3>
    </a>
  </div>
</div>

<div class="first-section">
  <h3 class="first-section-text">Make Money Modeling Online!</h3>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <i class="fa fa-mobile fa-4x" aria-hidden="true"></i><br> 
        <p>Sell your hottest selfies and make money!
      Whether you already have paying fans or are just starting out, I can help you generate more income.
      You're already taking selfies, you might as well get paid for them!
      </p>
      </div>
      <div class="col-md">
      <i class="fa fa-camera fa-4x" aria-hidden="true"></i><br>
      <p>Get the real photoshoot experience!
      This is a great option for taking more natural feeling photos and videos.
      Lots of different options to dramatically increase your earning potential.
      </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
      <i class="fa fa-gamepad fa-4x" aria-hidden="true"></i><br>
      <p>Play online games with your fans!
      This is a great way to interact with your admirers and can really push you over the top.
      Whether you want to play video games or online board games, there are lots of options.
      </p>
      </div>
      <div class="col-md">
      <i class="fa fa-laptop fa-4x" aria-hidden="true"></i><br>
      <p>Host private webcam shows!
      Your biggest fans will love the 1-on-1 attention and will pay top dollar for this experience.
      If you have a laptop with a webcam, you're good to go!
      </p>
      </div>
    </div>
  </div>
</div>

<div class="website-section">
  <h3 class="website-section-text">Get your own custom website!</h3>
  <p>To really start making money with online modeling, you need a professional looking website. 
    I'll build you one that can include any or all of the following:</p>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <i class="fa fa-html5 fa-4x" aria-hidden="true"></i><br>
        <p>Custom domain name-Choose a great sounding website name that's as unique as you are</p>
      </div>
      <div class="col-md-6 col-lg-4">
        <i class="fa fa-picture-o fa-4x" aria-hidden="true"></i><br>
        <p>Picture/video galleries-Showcase your hottest pics and videos to build your fan base</p>
      </div>
      <div class="col-md-6 col-lg-4">
        <i class="fa fa-share-alt fa-4x" aria-hidden="true"></i><br>
        <p> Social media linkouts-We're going to help build your web presence with your website, but you also want fans to be able to follow you directly on your socials</p>
      </div>
      <div class="col-md-6 col-lg-4">
        <i class="fa fa-calendar fa-4x" aria-hidden="true"></i><br>
        <p>Calendar-Set your own schedule and let your fans know when you're available for different opportunities</p>
      </div>
      <div class="col-md-6 col-lg-4">
        <i class="fa fa-align-justify fa-4x" aria-hidden="true"></i><br>
        <p>Bio page-Let your fans get to know more about you</p>
      </div>
      <div class="col-md-6 col-lg-4">
        <i class="fa fa-comment fa-4x" aria-hidden="true"></i><br>
        <p>Blog-Show your fans what you've been up to</p>
      </div>
    </div>
</div>

<div class="contact-section">
    <h3 class="contact-section-text"><a id="get-started">Contact me by any of the methods below to get started today!</a></h3>
    <p>*By contacting me, you certify that you are at least 18 years old</p>
  <div class="row">
    <div class="col-md-6 col-lg-4 col-xl">
      <a href="https://www.mail.google.com" target="_blank" class="stretched-link">
      <i class="fa fa-google fa-4x" aria-hidden="true"></i><br>
      <p>modelspot2020@gmail.com</p> 
      </a>
    </div>
    <div class="col-md-6 col-lg-4 col-xl">
      <a href="https://twitter.com/ModelSpot2020" target="_blank" class="stretched-link">
      <i class="fa fa-twitter fa-4x" aria-hidden="true"></i><br>
      <p>@ModelSpot2020</p> 
      </a>
    </div>
    <div class="col-md-6 col-lg-4 col-xl">
      <a href="https://www.instagram.com/modelspot2020/" target="_blank" class="stretched-link">
      <i class="fa fa-instagram fa-4x" aria-hidden="true"></i><br>
      <p>modelspot2020</p>
      </a>
    </div>
    <div class="col-md-6 col-lg-4 col-xl">
      <a href="https://www.snapchat.com/add/modelspot" target="_blank" class="stretched-link">
      <i class="fa fa-snapchat-ghost fa-4x" aria-hidden="true"></i><br>
      <p>modelspot</p>
      </a>
    </div>
    <div class="col-md-6 col-lg-4 col-xl">
      <a href="https://www.facebook.com/XModelSpotX/" target="_blank" class="stretched-link">
      <i class="fa fa-facebook fa-4x" aria-hidden="true"></i><br>
      <p>XModelSpotX</p>
      </a>
    </div>
    <div class="col-md-6 col-lg-4 col-xl">
      <a href="tel:3144400424" target="_blank" class="stretched-link">
      <i class="fa fa-mobile fa-4x" aria-hidden="true"></i><br>
      <p>314-440-0424</p>
      </a>
    </div>
  </div>
</div>
<div class="footer">
  <p>Copyright &copy 2020 ModelSpot | All Rights Reserved</p>
</div>








{% include javascript.html %}
