img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.item-container {
  text-align: center;
}

body {
  width: 100%;
  background-color: cyan;
  overflow-x: hidden;
}


.jumbotron {
  background-image: url("/assets/images/stock-photos/socialbossheroimage.jpg");
  background-size: contain;
  background-color: rgb(197, 197, 197);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.jumbotron-text {
  color: rgb(255, 49, 111);
  text-decoration-line: underline;
  margin-top: 35vh;
  text-align: center;
  font-size: 5em;
}

.jumbotron a {
  text-decoration: none;
}

.call-to-action {
  color: rgb(255, 49, 111);
  font-family: cursive;
  text-align: center;
}

.first-section-text {
  text-align: center;
}

.first-section {
  background-color: cyan;
}

.contact-section-headline {
  text-align: center;
}

.contact-section {
  text-align: center;
  background-color: rgb(255, 49, 111);
  padding-top: 40px;
}

.contact-section-text {
  padding-bottom: 40px;
}

.contact-section .col-sm {
  border-style: solid;
  border-width: thin;
}

.contact-section i {
  margin: 20px;
}

.contact-section a {
  text-decoration: none;
  color: black;
}

.col-sm {
  text-align: center;
}

.col-md {
  text-align: center;
  border-style: solid;
  border-width: thin;
  margin: auto;
}

.container {
  padding-bottom: 40px;
}

.container i {
  margin: 20px;
}







